.sencha/
build/
modern/
ext/
sass/
.vscode/
modern.jsonp
modern.json
workspace.json
bootstrap.js
bootstrap.css
build.xml
classic.jsonp
classic.json
app/model/Readme.md
app/Readme.md
app/store/Readme.md
resources/Readme.md
